.pricing {
  padding: 40px;
}
.pricing h2 {
  font-weight: 500;
  margin: 0;
}

.pricing p {
  color: #9ba2ab;
}

.paidby .MuiButtonGroup-root button {
  border-color: #303f9f;
  border-radius: 5px;
  background: #fff;
  color: #3c3d3e;
  border: 1px solid #ccc;
  padding: 15px 50px;
  font-weight: 600;
  margin-right: 20px;
  font-size: 19px;
  text-transform: capitalize;
}

.paidby .MuiButtonGroup-root button.active {
  background-color: #f2f5ff;
  border-color: #2a61ff;
}

.paidby button i {
  padding-right: 10px;
  font-size: 22px;
}
